
@{
    ViewData["Title"] = "Process";
}

<h1>Process Upload</h1>

@if (ViewBag.Message != null)
    {
            <div class="alert alert-success row mt-1">
                <p class="col">@ViewBag.Message</p>
            </div>
    }

